* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    border: 1px solid;
}

:root {
    --max-content-width: 1200px;
}

li {
    list-style-type: none;
}

body {
    --body-padding: 1rem;
    padding-left: var(--body-padding);
    padding-right: var(--body-padding);
}



/* HEADER */

#image-wrapper {
    width: 80vw;
    height: 60vh;
}

#image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SECTION */

.project-header {
    display: flex;
    justify-content: space-between;
}

.project img {
    max-width: 100%;
}

/* FOOTER */

#contact-info {
    display: flex;
    flex-direction: column;
}

#phone,
#email {
    display: flex;
    align-items: center;
}